#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  height: 72px;
  background: linear-gradient(145deg, #4f6cd4, #5e80fb);
  box-shadow: 1px 1px 16px #5676e6, -5px -5px 5px #5a7af0;

  .navbar-brand img {
    width: 140px;
    padding: 0;
    margin: 0;
  }

  .navbar-nav a {
    color: var(--background-color);
    padding: 0 16px !important;
    font-weight: 500;
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link,
  .navbar-nav a:hover,
  .navbar-nav a:active {
    color: var(--background-shadow-color);
  }

  .dropdown-menu a {
    color: var(--primary-color);
  }
  .dropdown-menu.show a {
    padding: 5px 16px !important;
  }
  .dropdown-menu.show a:hover {
    color: var(--text-color);
  }
}

/* Home */
.card-home {
  background-color: var(--background-shadow-color);
  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 24px;

  .card-title {
    font-size: 1.75em;
    color: var(--primary-color);
    font-weight: 600;
  }

  .valor {
    color: var(--text-color);
    font-weight: 600;
    font-size: 4em !important;
  }

  .atalhos-card button {
    font-weight: 600;
    font-size: 16px;
  }
  .atalhos-card {
    width: 50%;

    .actions-buttons {
      flex-direction: column;
      width: 100%;
    }

    .nova-venda-btn {
      position: relative;
      background-color: var(--accent-color);
      border-radius: 8px;
      box-shadow: rgb(131, 179, 29) 0px 3px 0px 0px;
      background-repeat: no-repeat;
      box-sizing: border-box;
      height: 44px !important;
      color: #fff;
      border: none;
      transition: all 0.3s ease-in-out;
      z-index: 1;
      overflow: hidden;
      padding-top: 4px;
      margin-bottom: 8px;
    }
    .nova-venda-btn::before {
      content: "";
      background-color: rgb(131, 179, 29);
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 700ms ease-in-out;
      display: inline-block;
    }
    .nova-venda-btn:hover::before {
      width: 100%;
    }

    .other-btn {
      background-color: var(--text-color);
    }
  }

  .atalhos-card a,
  .atalhos-card button {
    width: 100%;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
